.search {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    height: 100px;
}

.search-line {
    width: 20%;
    height: 40px;
    border: none;
    border-bottom: 3px;
    background-color: rgb(105, 23, 182);
    border-radius: 12px;
    padding: 5px;
    color: lightgray;
    font-size: 20px;
}

.enter-button {
    height: 50px;
    width: 5%;
    background-color: rgb(116, 66, 163);
    border: none;
    border-radius: 12px;
    color: lightgray;
    font-size: 20px;
    cursor: pointer;
}

.enter-button:hover {
    background-color: rgb(94, 9, 173);
}