.weather-field {
    display: flex;
    align-items: center;
    justify-content: center;
}

.weather-card {
    background-color: bisque;
    padding: 12px;
    text-align: center;
    width: 400px;
    height: 280px;
    border-radius: 12px;
    margin: 10px;
}

.city {
    font-size: 30px;
}

.weather {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 30px;
}

.temperature {
    font-size: 70px;
}

.weather img {
    width: 120px;
}

.weather-details {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
    font-size: 18px;
}